
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937; 
    color: #F5F5F5;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    }

header {
    display: flex;    
    justify-content:center; 
    align-items: center;
    padding:1.2em 0;
}
.hex{
    vertical-align: middle;
    padding:0;
    border:0;
    height:45px;
}
.mode {

      appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='white'><path d='M7 10l5 5 5-5z'/></svg>")
              no-repeat right 0.25em center;
  background-size: 2.2em; /* <-- make the arrow bigger */
margin-left:.5em;

    font-family: "Roboto", sans-serif;
    padding:.5rem 1rem;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1F2937;
    color: #fff;
    cursor: pointer;
}
.color-scheme {
    display: flex;
    justify-content: center;
    min-height:400px;
}
.color-hex{
    margin:1rem;    
    color: #fff;
    cursor: pointer;
}

